* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 150%;
    color: #6086f8;
}

body {
    height: 100vh;
    width: 100vw;
    background: #F3F5FC;
}

.box-degrade {
    width: 100%;
    padding: 300px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, blue, orangered, yellow);
    background-size: 500% 100%;
    animation: degrade-animado 5s infinite alternate;
}

.logo {
    position: absolute;
    width: 30px;
    height: 35px;
    left: 40px;
    top: 40px;
}

.texto-entrada {
    position: absolute;
    width: 680px;
    height: 96px;
    left: 240px;
    top: 168px;
    border: none;
    background: none;
    font-size: 32px;
}

.texto-entrada::placeholder {
    color: #f4f6f4;
}

.texto-entrada::content {
    color: #ffffff;
}

.texto-entrada:focus {
    outline: none;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    font-size: 12px;
    color: #ffffff;
    line-height: 18px;

    position: absolute;
    width: 252px;
    height: 18px;
    left: 240px;
    top: 651px;
}

textarea:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.botoes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 685px;
}

.btn {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-size: 16px;
    cursor: pointer;
}

.botao-encriptar {
    background: #59BB64;
    border: none;
    color: rgb(254, 254, 254);
}

.botao-decriptar {
    background: #fefefe63;
    border: 1px solid #59BB64;
    color: #010f21;
}

.retangulo {
    position: absolute;
    width: 400px;
    height: 744px;
    left: 1000px;
    top: 40px;

    background: rgb(255, 255, 255);
    border-radius: 24px;
    box-shadow: 0px 12px 16px -4px rgb(18, 16, 166);
}

.boneco {
    position: absolute;
    width: 336px;
    height: 304px;
    left: 1032px;
    top: 183px;
}

.aviso {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 336px;
    height: 122px;
    left: 1032px;
    top: 519px;

    text-align: center;
}

.aviso h2 {
    width: 336px;
    height: 58px;

    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #13c327;
}

.aviso p {
    width: 336px;
    height: 48px;

    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #13d526;
}

.mensagem {
    display: none;
}

.texto-saida {
    position: absolute;
    width: 336px;
    height: 504px;
    left: 1032px;
    /*left: 1032px;*/
    top: 183px;
    border: none;
    font-size: 32px;
    cursor: context-menu;
}

.texto-saida:focus {
    outline: none;
}

.botao-copiar {
    background: white;
    border: 1px solid #0A3871;
    position: absolute;
    left: 1032px;
    top: 685px;
    color: #0A3871;
}

.footer {
    position: absolute;
    width: 100vw;
    height: 32px;
    top: 824px;
    margin: 20px auto;

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.footer a {
    font-size: 32px;
    color: inherit;
}

@keyframes degrade-animado {
    0% {
        background-position-x: 100%;
    }

    100% {
        background-position-x: 100%;
    }
}